In [15]:
import pandas as pd
import numpy as np

In [16]:
#Insert the address of the spw file
#df = pd.read_csv('C:\\Users\\z5130037\\OneDrive - UNSW\CAVSe.csv', delimiter = ';', names = ['Time','Link','Lane', 'VehNo','VehType', 'Line', 'DesSpeed'], dtype = {'Time' : float, 'Link' : float, 'Lane' : float, 'VehNo' : float, 'VehType' : float,'Line' : float, 'DesSpeed' : float }, skiprows =1)
df_0 = pd.read_csv(r'C:\Users\hp\OneDrive - UNSW\Honours student Sai\Danial\Sample_Data\1hour3x3\3x3SPW.csv', delimiter = ';', index_col=False)#, names = ['Time','Link','Lane', 'VehNo','VehType', 'Line', 'DesSpeed'], dtype = {'Time' : float , 'Link' : float, 'Lane' : float, 'VehNo' : float, 'VehType' : float,'Line' : float, 'DesSpeed' : float }, skiprows =1, index_col=False)
#df
df_0 = df_0.iloc[:,3]
#df_0

IndexError: single positional indexer is out-of-bounds

In [3]:
names = ['VehicleID']
count = df_0.value_counts()
countprint = count.to_csv((r"C:\Users\hp\OneDrive - UNSW\Honours student Sai\Danial\Sample_Data\1hour3x3\LaneChange_frequencyTable.csv"))

C:\Users\hp\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

data = pd.Series([1, 1, 1, 2, 3, 3, 3, 3, 4, 4, 5])

#find frequencies of each value
data.value_counts()

In [4]:
print(count)

83       571
15       532
14       528
79       527
46       478
        ...
10050      1
10130      1
10159      1
10198      1
10184      1
Name:  Link_No, Length: 213, dtype: int64

# LOGIC 2

In [5]:
df = pd.read_csv(r'C:\Users\hp\OneDrive - UNSW\Honours student Sai\Danial\Sample_Data\1hour3x3\3x3SPW.csv', delimiter = ';', index_col=False)#, names = ['Time','Link','Lane', 'VehNo','VehType', 'Line', 'DesSpeed'], dtype = {'Time' : float , 'Link' : float, 'Lane' : float, 'VehNo' : float, 'VehType' : float,'Line' : float, 'DesSpeed' : float }, skiprows =1, index_col=False)
df
length = len(df)
print(length)

19395

In [6]:
#Import the link and lane information:
df_link = pd.read_csv(r'C:\Users\hp\OneDrive - UNSW\Honours student Sai\Danial\Codes\Randwick_bus_stop_data.csv', delimiter = ',', index_col=False)
#df
length_link = len(df_link)
print(length_link)

6

In [7]:
def split_data(number1, number2, df): #number 1 and number 2 are the time 
    df_15 = df.loc[(df['t'] > number1) & (df['t'] <= number2)]
    return df_15

In [8]:
LaneChangeData = pd.DataFrame(np.zeros((length_link, 5)), columns=['Link ID', 'Lane ID', 'Link_change_number', 'Link_lane_change_number', 'Filtered_Link_lane_change_number']) # creating an empty dataframe 
print(LaneChangeData)

   Link ID  Lane ID  Link_change_number  Link_lane_change_number  \
0      0.0      0.0                 0.0                      0.0
1      0.0      0.0                 0.0                      0.0
2      0.0      0.0                 0.0                      0.0
3      0.0      0.0                 0.0                      0.0
4      0.0      0.0                 0.0                      0.0
5      0.0      0.0                 0.0                      0.0

   Filtered_Link_lane_change_number
0                               0.0
1                               0.0
2                               0.0
3                               0.0
4                               0.0
5                               0.0

In [9]:
def lanechangefunction(df_link, df, number1, number2):
    
    LaneChangeData = pd.DataFrame(np.zeros((length_link, 5)), columns=['Link ID', 'Lane ID', 'Link_change_number', 'Link_lane_change_number', 'Filtered_Link_lane_change_number']) # creating an empty dataframe 
    print(LaneChangeData)
    
    for p in range (0, length_link):

        link_number = df_link.iloc[p,0] #Input the link number here
        lane_number = df_link.iloc[p,1] #Input the lane number

        LaneChangeData.iloc[p,0] = link_number #saving in new database
        LaneChangeData.iloc[p,1] = lane_number #saving in new database
        
        length = len(df)
        c=0
        for a in range(0,length):
            if df.iloc[a,3]== link_number:
                c=c+1
                #print(c)

        print("Verify if this number is matching with the count table for link numnber " + str(link_number))
        print(c)
        LaneChangeData.iloc[p,2] = 35

        j=0
        k=0
        #make an empty dataframe
        for i in range(0,length):
            if df.iloc[i,3] == link_number and df.iloc[i,4] == lane_number:  

                if df.iloc[i,1] != df.iloc[(i-1),1]:
                    k=k+1

                j=j+1

        print("Total counted lane change timesteps for link numnber " + str(link_number)+ " and lane number " + str(lane_number)+ " for time "+str(number1)+" to "+str(number2))
        print(j)
        print("Total number of vehicles changing lanes " + str(link_number)+ " and lane number " + str(lane_number)+ " for time "+str(number1)+" to "+str(number2))
        print(k)
        LaneChangeData.iloc[p,3] = j
        LaneChangeData.iloc[p,4] = k

    LaneChangeData.to_csv(r'C:\Users\hp\OneDrive - UNSW\Honours student Sai\Danial\Codes\LaneChange\LaneChange'+str(number1)+'-'+str(number2)+'.csv')

In [10]:
LaneChangeData = pd.DataFrame(np.zeros((length_link, 5)), columns=['Link ID', 'Lane ID', 'Link_change_number', 'Link_lane_change_number', 'Filtered_Link_lane_change_number']) # creating an empty dataframe 
print(LaneChangeData)
    
lanechangefunction(df_link, df,0, 4500)

   Link ID  Lane ID  Link_change_number  Link_lane_change_number  \
0      0.0      0.0                 0.0                      0.0
1      0.0      0.0                 0.0                      0.0
2      0.0      0.0                 0.0                      0.0
3      0.0      0.0                 0.0                      0.0
4      0.0      0.0                 0.0                      0.0
5      0.0      0.0                 0.0                      0.0

   Filtered_Link_lane_change_number
0                               0.0
1                               0.0
2                               0.0
3                               0.0
4                               0.0
5                               0.0
   Link ID  Lane ID  Link_change_number  Link_lane_change_number  \
0      0.0      0.0                 0.0                      0.0
1      0.0      0.0                 0.0                      0.0
2      0.0      0.0                 0.0                      0.0
3      0.0      0.0                 0.0                      0.0
4      0.0      0.0                 0.0                      0.0
5      0.0      0.0                 0.0                      0.0

   Filtered_Link_lane_change_number
0                               0.0
1                               0.0
2                               0.0
3                               0.0
4                               0.0
5                               0.0
Verify if this number is matching with the count table for link numnber 134
381
Total counted lane change timesteps for link numnber 134 and lane number 2 for time 0 to 4500
308
Total number of vehicles changing lanes 134 and lane number 2 for time 0 to 4500
308
Verify if this number is matching with the count table for link numnber 166
337
Total counted lane change timesteps for link numnber 166 and lane number 2 for time 0 to 4500
296
Total number of vehicles changing lanes 166 and lane number 2 for time 0 to 4500
296
Verify if this number is matching with the count table for link numnber 142
437
Total counted lane change timesteps for link numnber 142 and lane number 2 for time 0 to 4500
345
Total number of vehicles changing lanes 142 and lane number 2 for time 0 to 4500
345
Verify if this number is matching with the count table for link numnber 10200
180
Total counted lane change timesteps for link numnber 10200 and lane number 2 for time 0 to 4500
118
Total number of vehicles changing lanes 10200 and lane number 2 for time 0 to 4500
118
Verify if this number is matching with the count table for link numnber 14
528
Total counted lane change timesteps for link numnber 14 and lane number 2 for time 0 to 4500
435
Total number of vehicles changing lanes 14 and lane number 2 for time 0 to 4500
435
Verify if this number is matching with the count table for link numnber 46
478
Total counted lane change timesteps for link numnber 46 and lane number 2 for time 0 to 4500
396
Total number of vehicles changing lanes 46 and lane number 2 for time 0 to 4500
396

# Time breaking starts from here

#GIVE THE ADDRESS OF THE LINK AND LANE INFORMATION: YO HAVE ALREADY IMPORTED "df_link" file. This file will remain unchanged for all the function argument

In [11]:
#All you have to do is change the number 1 and number 2
number1 = 0 #GIVE THE TIME INTERVAL
number2 = 1800
df1 = split_data(number1, number2, df)
df1
lanechangefunction(df_link, df1, number1, number2)

   Link ID  Lane ID  Link_change_number  Link_lane_change_number  \
0      0.0      0.0                 0.0                      0.0
1      0.0      0.0                 0.0                      0.0
2      0.0      0.0                 0.0                      0.0
3      0.0      0.0                 0.0                      0.0
4      0.0      0.0                 0.0                      0.0
5      0.0      0.0                 0.0                      0.0

   Filtered_Link_lane_change_number
0                               0.0
1                               0.0
2                               0.0
3                               0.0
4                               0.0
5                               0.0
Verify if this number is matching with the count table for link numnber 134
93
Total counted lane change timesteps for link numnber 134 and lane number 2 for time 0 to 1800
77
Total number of vehicles changing lanes 134 and lane number 2 for time 0 to 1800
77
Verify if this number is matching with the count table for link numnber 166
93
Total counted lane change timesteps for link numnber 166 and lane number 2 for time 0 to 1800
83
Total number of vehicles changing lanes 166 and lane number 2 for time 0 to 1800
83
Verify if this number is matching with the count table for link numnber 142
114
Total counted lane change timesteps for link numnber 142 and lane number 2 for time 0 to 1800
92
Total number of vehicles changing lanes 142 and lane number 2 for time 0 to 1800
92
Verify if this number is matching with the count table for link numnber 10200
40
Total counted lane change timesteps for link numnber 10200 and lane number 2 for time 0 to 1800
27
Total number of vehicles changing lanes 10200 and lane number 2 for time 0 to 1800
27
Verify if this number is matching with the count table for link numnber 14
118
Total counted lane change timesteps for link numnber 14 and lane number 2 for time 0 to 1800
101
Total number of vehicles changing lanes 14 and lane number 2 for time 0 to 1800
101
Verify if this number is matching with the count table for link numnber 46
116
Total counted lane change timesteps for link numnber 46 and lane number 2 for time 0 to 1800
92
Total number of vehicles changing lanes 46 and lane number 2 for time 0 to 1800
92

In [12]:
#All you have to do is change the number 1 and number 2
number1 = 1800 #GIVE THE TIME INTERVAL
number2 = 2700
df2 = split_data(number1, number2, df)
df2
lanechangefunction(df_link, df2, number1, number2)

   Link ID  Lane ID  Link_change_number  Link_lane_change_number  \
0      0.0      0.0                 0.0                      0.0
1      0.0      0.0                 0.0                      0.0
2      0.0      0.0                 0.0                      0.0
3      0.0      0.0                 0.0                      0.0
4      0.0      0.0                 0.0                      0.0
5      0.0      0.0                 0.0                      0.0

   Filtered_Link_lane_change_number
0                               0.0
1                               0.0
2                               0.0
3                               0.0
4                               0.0
5                               0.0
Verify if this number is matching with the count table for link numnber 134
101
Total counted lane change timesteps for link numnber 134 and lane number 2 for time 1800 to 2700
78
Total number of vehicles changing lanes 134 and lane number 2 for time 1800 to 2700
78
Verify if this number is matching with the count table for link numnber 166
66
Total counted lane change timesteps for link numnber 166 and lane number 2 for time 1800 to 2700
55
Total number of vehicles changing lanes 166 and lane number 2 for time 1800 to 2700
55
Verify if this number is matching with the count table for link numnber 142
84
Total counted lane change timesteps for link numnber 142 and lane number 2 for time 1800 to 2700
63
Total number of vehicles changing lanes 142 and lane number 2 for time 1800 to 2700
63
Verify if this number is matching with the count table for link numnber 10200
57
Total counted lane change timesteps for link numnber 10200 and lane number 2 for time 1800 to 2700
33
Total number of vehicles changing lanes 10200 and lane number 2 for time 1800 to 2700
33
Verify if this number is matching with the count table for link numnber 14
135
Total counted lane change timesteps for link numnber 14 and lane number 2 for time 1800 to 2700
108
Total number of vehicles changing lanes 14 and lane number 2 for time 1800 to 2700
108
Verify if this number is matching with the count table for link numnber 46
140
Total counted lane change timesteps for link numnber 46 and lane number 2 for time 1800 to 2700
118
Total number of vehicles changing lanes 46 and lane number 2 for time 1800 to 2700
118

In [13]:
#All you have to do is change the number 1 and number 2
number1 = 2700 #GIVE THE TIME INTERVAL
number2 = 3600
df3 = split_data(number1, number2, df)
df3
lanechangefunction(df_link, df3, number1, number2)

   Link ID  Lane ID  Link_change_number  Link_lane_change_number  \
0      0.0      0.0                 0.0                      0.0
1      0.0      0.0                 0.0                      0.0
2      0.0      0.0                 0.0                      0.0
3      0.0      0.0                 0.0                      0.0
4      0.0      0.0                 0.0                      0.0
5      0.0      0.0                 0.0                      0.0

   Filtered_Link_lane_change_number
0                               0.0
1                               0.0
2                               0.0
3                               0.0
4                               0.0
5                               0.0
Verify if this number is matching with the count table for link numnber 134
94
Total counted lane change timesteps for link numnber 134 and lane number 2 for time 2700 to 3600
80
Total number of vehicles changing lanes 134 and lane number 2 for time 2700 to 3600
80
Verify if this number is matching with the count table for link numnber 166
85
Total counted lane change timesteps for link numnber 166 and lane number 2 for time 2700 to 3600
77
Total number of vehicles changing lanes 166 and lane number 2 for time 2700 to 3600
77
Verify if this number is matching with the count table for link numnber 142
95
Total counted lane change timesteps for link numnber 142 and lane number 2 for time 2700 to 3600
72
Total number of vehicles changing lanes 142 and lane number 2 for time 2700 to 3600
72
Verify if this number is matching with the count table for link numnber 10200
39
Total counted lane change timesteps for link numnber 10200 and lane number 2 for time 2700 to 3600
30
Total number of vehicles changing lanes 10200 and lane number 2 for time 2700 to 3600
30
Verify if this number is matching with the count table for link numnber 14
130
Total counted lane change timesteps for link numnber 14 and lane number 2 for time 2700 to 3600
106
Total number of vehicles changing lanes 14 and lane number 2 for time 2700 to 3600
106
Verify if this number is matching with the count table for link numnber 46
112
Total counted lane change timesteps for link numnber 46 and lane number 2 for time 2700 to 3600
95
Total number of vehicles changing lanes 46 and lane number 2 for time 2700 to 3600
95

In [14]:
#All you have to do is change the number 1 and number 2
number1 = 3600 #GIVE THE TIME INTERVAL
number2 = 4500
df4 = split_data(number1, number2, df)
df4
lanechangefunction(df_link, df4, number1, number2)

   Link ID  Lane ID  Link_change_number  Link_lane_change_number  \
0      0.0      0.0                 0.0                      0.0
1      0.0      0.0                 0.0                      0.0
2      0.0      0.0                 0.0                      0.0
3      0.0      0.0                 0.0                      0.0
4      0.0      0.0                 0.0                      0.0
5      0.0      0.0                 0.0                      0.0

   Filtered_Link_lane_change_number
0                               0.0
1                               0.0
2                               0.0
3                               0.0
4                               0.0
5                               0.0
Verify if this number is matching with the count table for link numnber 134
93
Total counted lane change timesteps for link numnber 134 and lane number 2 for time 3600 to 4500
73
Total number of vehicles changing lanes 134 and lane number 2 for time 3600 to 4500
73
Verify if this number is matching with the count table for link numnber 166
93
Total counted lane change timesteps for link numnber 166 and lane number 2 for time 3600 to 4500
81
Total number of vehicles changing lanes 166 and lane number 2 for time 3600 to 4500
81
Verify if this number is matching with the count table for link numnber 142
144
Total counted lane change timesteps for link numnber 142 and lane number 2 for time 3600 to 4500
118
Total number of vehicles changing lanes 142 and lane number 2 for time 3600 to 4500
118
Verify if this number is matching with the count table for link numnber 10200
44
Total counted lane change timesteps for link numnber 10200 and lane number 2 for time 3600 to 4500
28
Total number of vehicles changing lanes 10200 and lane number 2 for time 3600 to 4500
28
Verify if this number is matching with the count table for link numnber 14
145
Total counted lane change timesteps for link numnber 14 and lane number 2 for time 3600 to 4500
120
Total number of vehicles changing lanes 14 and lane number 2 for time 3600 to 4500
120
Verify if this number is matching with the count table for link numnber 46
110
Total counted lane change timesteps for link numnber 46 and lane number 2 for time 3600 to 4500
91
Total number of vehicles changing lanes 46 and lane number 2 for time 3600 to 4500
91